 <div class="row">
    <form class="col s12" {{action 'agendar' on="submit"}}>
      <div class="row">
        <h3>Información del alumno</h3>
        <div class="row">
          {{#if (and studentSelected studentIsSelected)}}
          <div class="input-field col s6">
            
            {{!-- {{input id="student_first_name" type="text" class="validate" value=studentSelected.name}} --}}
            <h5 id="student_first_name">{{studentSelected.name}}</h5>
            <label for="student_first_name" class={{if studentSelected "active" (if student "active" "")}}>Nombre</label>
            
          </div>
          <div class="input-field col s6">
            {{!-- <input id="student_last_name" type="text" class="validate"> --}}
            <h5 id="student_last_name">{{studentSelected.lastName}}</h5>
            <label for="student_last_name" class={{if studentSelected "active" (if student "active" "")}}>Apellidos</label>
          </div>
           <div class="input-field col s3">
              {{!-- <input id="student_email" type="email" class="validate"> --}}
              <h5 id="student_email">{{studentSelected.email}}</h5>
              <label for="student_email" class={{if studentSelected "active" (if student "active" "")}}>Correo electrónico</label>
            </div>
            <div class="input-field col s3">
              <button class="btn waves-effect waves-light" type="button" name="action" {{action 'modificarNino'}}>Cambiar niño
                <i class="material-icons right">edit</i>
              </button>
            </div>
            {{else}}
            <div class="input-field col s6">
              <h4>Buscar alumno:</h4>
              {{#power-select
                options=model.students
                selected=studentSelected
                searchField="fullName"
                searchPlaceholder="Click para buscar alumno"
                onchange=(action "setStudent")
                as |student|}}
               
                <strong>{{student.fullName}}</strong>
              {{/power-select}}
              <button class="btn waves-effect waves-light" type="button" name="action" {{action 'agregarNino'}}>Agregar
                <i class="material-icons right">send</i>
              </button>
            </div>
              
            {{/if}}
          </div> 

        </div>

      <div class="row">
        <h3>Información del profesor</h3>
        {{#if (and teacherSelected teacherIsSelected)}}
        <div class="row">
          <div class="input-field col s6">
            {{!-- <input id="teacher_first_name" type="text" class="validate"> --}}
            <h5 id="teacher_first_name">{{teacherSelected.name}}</h5>
            <label for="teacher_first_name" class={{if teacherSelected "active" (if teacher "active" "")}}>Nombre</label>
          </div>
          <div class="input-field col s6">
            {{!-- <input id="teacher_last_name" type="text" class="validate"> --}}
            <h5 id="teacher_last_name">{{teacherSelected.lastName}}</h5>
            <label for="teacher_last_name" class={{if teacherSelected "active" (if teacher "active" "")}}>Apellidos</label>
          </div>
        </div>
     
        
      <div class="row">
          <div class="input-field col s3">
            {{!-- <input id="teacher_email" type="email" class="validate"> --}}
            <h5 id="teacher_email">{{teacherSelected.mail}}</h5>
            <label for="teacher_email" class={{if teacherSelected "active" (if teacher "active" "")}}>Correo electrónico</label>
          </div>
           <div class="input-field col s3">
              <button class="btn waves-effect waves-light" type="button" name="action" {{action 'modificarProfesor'}}>Cambiar profesor
                <i class="material-icons right">edit</i>
              </button>
            </div>
        </div>
        
        {{else}}
        <div class="input-field col s6">
          <h4>Buscar Profesor:</h4>
          {{#power-select
                options=model.teachers
                selected=teacherSelected
                searchField="fullName"
                searchPlaceholder="Click para buscar profesor"
                onchange=(action "setTeacher")
                as |teacher|}}
               
                <strong>{{teacher.fullName}}</strong>
          {{/power-select}}
              <button class="btn waves-effect waves-light" type="button" name="action" {{action 'agregarProfesor'}}>Agregar
                <i class="material-icons right">send</i>
              </button>
            </div>
        {{/if}}
         </div>
      <div class="row">
        <h3>Información de la clase</h3>
        <div class="row">
          <div class="input-field col s3" {{action 'onDateClick' reservation on="click"}}>
            Fecha:{{input type="text" class="datepicker" value=reservation.date }}
            
          </div>
           <div class="input-field col s3" {{action 'onDateClick' reservation on="click"}}>
            Hora:{{input type="text" class="timepicker" value=reservation.hour}}
          </div>

          <div class="input-field col s6">
            {{!-- {{input id="disponibilidad" type="text" class="validate"}} --}}
            <h5 id="disponibilidad">
                {{if isAvailable 'Disponible' 'No disponible'}}
            </h5>
            <label for="disponibilidad" class="active">Disponibilidad</label>
          </div>
        </div>
      </div>
      <button type="button" {{action 'cancelar'}} >Cancelar</button>
      <button type="submit" disabled={{and (not isAvailable) buttonDisabled}}>Agendar</button>
    </form>
  </div>

  <script type="text/javascript">
   $(document).ready(function(){
    $('.datepicker').datepicker();
  });

    $(document).ready(function(){
    $('.timepicker').timepicker();
  });
       
  </script>
        