 <div class="row">
    <form class="col s12" {{action 'guardar' on="submit"}}>
      <div class="row">
        <div class="row">
          <div class="input-field col s3">
            Fecha de inicio:{{input type="text" class="datepicker" value=contrato.signatureDateAux}}
          </div>
           <div class="input-field col s3">
            Fecha de Vencimiento:{{input type="text" class="datepicker" value=contrato.dueDateAux}}
          </div>
      
        </div>
      </div>
      <button type="button" {{action 'cancelar'}} >Cancelar</button>
      <button type="submit">Siguiente</button>
    </form>
  </div>

  <script type="text/javascript">
   $(document).ready(function(){
    $('.datepicker').datepicker();
  });

    $(document).ready(function(){
    $('.timepicker').timepicker();
  });
       
  </script>
        