<h3>Información del alumno</h3>

   <div class="row">
    <form class="col s12" {{action 'guardar' on="submit"}}>

      <div class="row">
        <div class="input-field col s4">
          {{#if edit}}
            {{input id="first_name" type="text" class="validate" value=student.name disabled=(if edit "" "true")}}
            {{else}}
              <h5 id="first_name">{{student.name}}</h5>
          {{/if}}
          <label for="first_name" class={{if edit (if student.name "active" "") "active"}}>Nombre (s):</label>
        </div>
        <div class="input-field col s6">
          {{#if edit}}
            {{input id="last_name" type="text" class="validate" value=student.lastName disabled=(if edit "" "true")}}
          {{else}}
            <h5 id="last_name">{{student.lastName}}</h5>
          {{/if}}
          <label for="last_name" class={{if edit (if student.lastName "active" "") "active"}}>Apellidos</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          {{#if edit}}
            {{input id="email" type="email" class="validate" value=student.email disabled=(if edit "" "true")}}
          {{else}}
            <h5 id="email">{{student.email}}</h5>
          {{/if}}
          <label for="email" class={{if edit (if student.email "active" "") "active"}}>Correo electrónico</label>
        </div>
        <div class="input-field col s4">
          {{!-- <input id="course" type="text" class="validate">
          <label for="course" class={{if edit "" "active"}}>Curso</label> --}}
          {{#if edit}}
            <div id="course">
                        {{#power-select
                  options=activities
                  selected=student.currentActivity
                  searchField="fullName"
                  searchPlaceholder="Click para buscar lecciones"
                  onchange=(action "setActivity")
                  as |activity|}}
                 
                  <strong>{{activity.fullName}}</strong>
                {{/power-select}}
            </div>
            {{else}}
              <h5 id="course">{{student.currentActivity.fullName}}</h5>
          {{/if}}
          <label for="course" class={{if edit (if student.currentActivity "active" "") "active"}}>Curso</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          {{#if edit}}
          {{input id="calif_ubicacion" type="number" class="validate" value=student.testGrade disabled=(if edit "" "true")}}
          {{else}}
            <h5 id="calif_ubicacion">{{student.testGrade}}</h5>
          {{/if}}
          <label for="calif_ubicacion" class={{if edit (if student.testGrade "active" "") "active"}}>Calificación del examen de ubicación</label>
        </div>
        <div class="input-field col s4">
          <p> 
            ¿Empieza antes?
            <label>
              <input name="group1" type="radio"  value={{student.startsBefore}} disabled={{if edit "" "true"}} />
              <span>Si</span>
            </label>
            <label>
              <input name="group1" type="radio" checked="true" value={{student.startsBefore}} disabled={{if edit "" "true"}}/>
              <span>No</span>
            </label>
          </p>
        </div>
      </div>
      {{#if edit}}
      <button type="button" {{action 'cancelar'}}>Cancelar</button>
      <button type="submit">Guardar</button>
      {{else}}
        <button type="button" {{action 'cancelar'}}>Regresar</button>
        <button type="submit">Editar</button>
      {{/if}}

    </form>
  </div>





