<form {{action 'guardar' on="submit"}}>
	<p>Nombre: {{input type="text" value=subscriber.name required=true}}</p>
	<p>Apellidos: {{input type="text" value=subscriber.lastName required=true}}</p>
	<p>Correo electrónico: {{input type="email" value=subscriber.email required=true}}</p>
	<p>Teléfono: {{input type="text" value=subscriber.phone required=true}}</p>

	<button type="button" {{action 'onCancelar'}} >Cancelar</button>
	<button type="submit">{{if edit "Guardar" "Siguiente"}}</button>

</form>

