<div class="row">
  <form class="col s12" {{action 'guardar' on="submit"}}>
    <div class="row">
      <div class="input-field col s6">
        {{input id="teacher_first_name" type="text" class="validate" value=teacher.name}}
        <label for="teacher_first_name" class={{if edit (if teacher.name "active" "") "active"}}>Nombre</label>
      </div>
      <div class="input-field col s6">
        {{input id="teacher_last_name" type="text" class="validate" value=teacher.lastName}}
        <label for="teacher_last_name" class={{if edit (if teacher.lastName "active" "") "active"}}>Apellidos</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        {{input id="teacher_email" type="email" class="validate" value=teacher.mail}}
        <label for="teacher_email" class={{if edit (if teacher.mail "active" "") "active"}}>Correo electrónico</label>
      </div>
    </div>
      <button type="button" {{action 'cancelar'}}>{{if edit 'Cancelar' 'Regresar'}}</button>
      <button type="submit">{{if edit 'Guardar' 'Editar'}}</button>
  </form>
</div>