<h1>Alumnos</h1>
<button {{action 'regresar'}}>Regresar</button>

{{#list-filter 
	filter=(action "filterByName")
	filterName="Buscar por nombre"
	as |filteredResults|}}

<table>
	<tr>
		<th>Nombre</th>
		<th>Apellidos</th>
		<th>Correo electrónico</th>
		<th>Curso inscrito</th>
		<th>Acciones</th>
	</tr>
	{{#each filteredResults as |student|}}
		<tr>
			<td>{{student.name}}</td>
			<td>{{student.lastName}}</td>
			<td>{{student.email}}</td>
			<td>Ingles 1</td>
			<td><button {{action 'perfil' student}} >Ver perfil</button> <button {{action 'editar' student}} >Editar</button></td>
		</tr>
	{{/each}}

</table>
{{/list-filter}}
	

{{!-- {{#each model as |student|}}
		<tr>
			<td>{{student.name}}</td>
			<td>{{student.lastName}}</td>
			<td>{{student.email}}</td>
			<td>Ingles 1</td>
			<td><button {{action 'perfil' student}} >Ver perfil</button> <button {{action 'editar' student}} >Editar</button></td>
		</tr>
	{{/each}} --}}