<h1>Ale</h1>
{{#unless verCalif}}
{{student-data edit=false
				student=model.student
				onGuardar = (action 'editar')
				onCancelar = (action 'regresar')}}
{{/unless}}
{{#if verCalif}}
	<button {{action 'regresar'}}>Regresar</button>
{{/if}}
<button {{action 'verCalificaciones'}} >{{if verCalif 'Ocultar Calificaciones' 'Ver Calificaciones'}}</button>
{{#if verCalif}}
<h3>Calificaciones:</h3>
<table>
	<tr>
		<th>Curso</th>
		<th>Sección</th>
		<th>Actividad</th>
		<th>Calificación</th>
		<th>Status</th>
	</tr>
	{{#each model.reservations as |reservation|}}
		<tr>
			<td>{{reservation.activity.lesson.level.name}}</td>
			<td>{{reservation.activity.lesson.name}}</td>
			<td>{{reservation.activity.activityType.name}}</td>
			<td>{{reservation.grade}}</td>
			<td>{{if (gte reservation.grade 7) "Aprobado" "Reprobado"}}</td>
		</tr>
		{{else}}
		<h3>El alumno no tiene ninguna actividad terminada.</h3>
	{{/each}}
	
</table>
{{/if}}