<div class="row">
  <h1 class="center-align">Inicio</h1>
</div>

 <div class="row">
{{#link-to 'administrador.inscripcion.suscriptor'}}

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="https://laley.pe/upload/img/periodico/img_11896.jpg" width="200" height="200">
          <span class="card-title black">Inscribir</span>
        </div>
      </div>
    </div>

{{/link-to}}

{{#link-to 'administrador.clases.agendar'}}

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image ">
          <img class="s4 m4" src="http://www.newlittlecollege.cl/colegio/images/stories/estatico/agendar_hora.jpg" width="200" height="200">
          <span class="card-title black">Agendar</span>
        </div>
      </div>
    </div>

{{/link-to}}
</div>
<div class="row">
{{#link-to 'administrador.alumnos'}}

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image ">
          <img class="s4 m4" src="https://cdn.oem.com.mx/elsoldehidalgo/2018/02/alumnos.png" width="200" height="200">
          <span class="card-title black">Alumnos</span>
        </div>
      </div>
    </div>
 
{{/link-to}}

{{#link-to 'administrador.suscriptores'}}

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image ">
          <img class="s4 m4" src="https://www.abc.es/Media/201505/12/fam_xoptimizadax--644x362--644x362.jpg" width="200" height="200">
          <span class="card-title black">Suscriptores</span>
        </div>
      </div>
    </div>

{{/link-to}}
{{#link-to 'administrador.profesores'}}

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image ">
          <img class="s4 m4" src="https://s03.s3c.es/imag/_v0/770x420/4/7/8/profesor-alumnos-dreamstime.jpg" width="200" height="200">
          <span class="card-title black">Profesores</span>
        </div>
      </div>
    </div>

{{/link-to}}
{{#link-to 'administrador.clases'}}

    <div class="col s12 m6">
      <div class="card">
        <div class="card-image ">
          <img class="s4 m4" src="https://fotos00.laprovincia.es/2018/10/25/328x206/clases.jpg" width="200" height="200">
          <span class="card-title black">Clases</span>
        </div>
      </div>
    </div>

{{/link-to}}
  </div>




{{!-- 
<button {{action 'inscribir'}}>Inscribir</button>
<button {{action 'agendarClase'}}>Agendar clase</button>
<button {{action 'alumnos'}} >Alumnos</button>
<button {{action 'profesores'}} >Profesores</button>
<button {{action 'clases'}} >Clases</button>

--}}