<h1>Profesores</h1>
<button {{action 'regresar'}}>Regresar</button>
<button {{action 'nuevoProfesor'}}>Registrar Nuevo Profesor</button>

{{#list-filter 
	filter=(action "filterByName")
	filterName="Buscar por Nombre"
	as |filteredResults|}}
	<table>
		<tr>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Correo</th>
			<th>Acciones</th>
		</tr>
		{{#each filteredResults as |teacher|}}
			<tr>
				<td>{{teacher.name}}</td>
				<td>{{teacher.lastName}}</td>
				<td>{{teacher.mail}}</td>
				<td>
					<button {{action 'perfil' teacher}}>Ver perfil</button>
					<button {{action 'editar' teacher}} >Editar</button>
				</td>
			</tr>
		{{/each}}
	</table>
{{/list-filter}}
	{{!-- {{#each model as |teacher|}}
		<tr>
			<td>{{teacher.name}}</td>
			<td>{{teacher.lastName}}</td>
			<td>{{teacher.mail}}</td>
			<td>
				<button {{action 'perfil' teacher}}>Ver perfil</button>
				<button {{action 'editar' teacher}} >Editar</button>
			</td>
		</tr>
		{{else}}
			<h3>No hay profesores registrados.</h3>
	{{/each}} --}}
