<h1>Alumnos</h1>
<table class="highlight">
	<tr>
		<th>Nombre</th>
		<th>Apellidos</th>
		<th>Correo</th>
		<th>Curso</th>
		<th>Acciones</th>
	</tr>
	{{#each model.studentContracts as |contract|}}
	{{log contract}}
		<tr>
			<td>{{contract.student.name}}</td>
			<td>{{contract.student.lastName}}</td>
			<td>{{contract.student.email}}</td>
			<td>Ingles 1</td>
			<td>
				<i class="small material-icons" {{action 'editarNino' contract on="click"}}>edit</i>  
				<i class="small material-icons" {{action 'borrarNino' contract on="click"}}>delete_forever</i>
			</td>
		</tr>
	{{else}}
		<h3>No hay alumnos registados.</h3>
	{{/each}}
</table>
{{#unless nuevo}}
	<button {{action 'agregar'}} >Agregar niño</button>
{{/unless}}

{{#if nuevo}}
{{student-data
	activities=model.activities
	student=nuevoStudent
	edit=true
	onGuardar = (action 'guardarNino' )
	onCancelar = (action 'cancelarNino' )}}
{{/if}}

{{#if isEditing}}
{{student-data
	student=studentEditar
	edit=true
	onGuardar=(action 'guardarCambiosNino' )
	onCancelar=(action 'cancelarCambiosNino' )}}
{{/if}}
<br>
<br>
<br>

<button {{action 'cancelar'}}>Cancelar</button>
<button {{action 'guardar'}}>Guardar</button>