<h1>Clase</h1>
<h3>{{moment-format model.lecture.startDate 'DD/MM/YYYY MM:mm'}}</h3>
<h5>Profesor: {{model.lecture.teacher.name}} {{model.lecture.teacher.lastName}}</h5>

{{!--  --}}


<table class="highlight">
	<tr>
		<th>Nombre</th>
		<th>Apellidos</th>
		<th>Lección o Examen</th>
		<th>Asistencia</th>
		<th>Calificación</th>
	</tr>
	
	{{#each model.reservations as |reservation|}}
		<tr>
			<td>{{reservation.student.name}}</td>
			<td>{{reservation.student.lastName}}</td>
			<td>{{reservation.activity.fullName}}</td>
			<td>
				<label>
					{{log (eq (moment-diff model.lecture.startDate moment precision="days") 0)}}
			        {{input type="checkbox" class="filled-in" checked=reservation.status disabled=(if (eq (moment-diff model.lecture.startDate (moment) precision="days") 0) false true)}}
			        <span>Asistió</span>
			    </label>
			 </td>
			 <td>
			 	{{input type="number" value=reservation.grade}}
			 </td>

		</tr>
	{{/each}}
</table>
<button {{action 'regresar'}} >Regresar</button>
{{#if (and (eq (moment-diff model.lecture.startDate moment precision="days") 0) (is-same-or-after lecture.startDate moment precision="hours"))}}
	<button {{action 'guardar'}} >Guardar</button>
{{/if}}
