<h1>Clases</h1>
<button {{action 'regresar'}}>Regresar</button>
<button {{action 'agendar'}} >Agendar Nueva Clase</button>
<table>
	<tr>
		<th>Fecha</th>
		<th>Hora</th>
		<th>Profesor</th>
		<th>Acciones</th>
	</tr>
	{{#each model as |lecture|}}
		<tr>
			<td>{{moment-format lecture.startDate 'DD/MM/YYYY'}}</td>
			<td>{{moment-format lecture.startDate 'HH:mm'}}</td>
			<td>{{lecture.teacher.name}}</td>
			<td>
				{{#if (eq (moment-diff lecture.startDate moment precision="days") 0)}}
					{{#unless (is-same-or-after lecture.startDate moment precision="hours")}}
						<button {{action 'tomarLista' lecture}}>Tomar lista</button>
					{{/unless}}
				
				{{/if}}

				<button {{action 'detalle' lecture}}>Detalle</button>
			</td>
		</tr>
		{{else}}
		<h3>No hay clases agendadas.</h3>
	{{/each}}
</table>