<h1>Suscriptores</h1>
<button {{action 'regresar'}}>Regresar</button>
<button {{action 'nuevoSuscriptor'}}>Registrar Nuevo Suscriptor</button>

{{#list-filter 
	filter=(action "filterByName")
	filterName="Buscar por nombre"
	as |filteredResults|}}
	<table>
		<tr>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Teléfono</th>
			<th>Correo</th>
			<th>Acciones</th>
		</tr>
		
		{{#each filteredResults as |subscriber|}}
			<tr>
				<td>{{subscriber.name}}</td>
				<td>{{subscriber.lastName}}</td>
				<td>{{subscriber.phone}}</td>
				<td>{{subscriber.email}}</td>
				<td>
					<button {{action 'editar' subscriber}} >Editar</button>
				</td>
			</tr>
		{{/each}}
	</table>

{{/list-filter}}
	


{{!-- {{#each model as |subscriber|}}
		<tr>
			<td>{{subscriber.name}}</td>
			<td>{{subscriber.lastName}}</td>
			<td>{{subscriber.phone}}</td>
			<td>{{subscriber.email}}</td>
			<td>
				<button {{action 'editar' subscriber}} >Editar</button>
			</td>
		</tr>
		{{else}}
			<h3>No hay suscriptores registrados.</h3>
	{{/each}} --}}