<nav>
    <div class="nav-wrapper">
      {{#link-to 'administrador.inicio'}} <a class="brand-logo center">Escuela</a>{{/link-to}}
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
        	<a href={{'/administrador/inicio'}}>
	        	<i class="material-icons">
					     arrow_back
				    </i>
			     </a>
		    </li>
        <li><a href={{'/'}}>Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
{{outlet}}