{{#list-filter 
	filter=(action "filterByName")
	filterName="Filter by Name"
	as |filteredResults|}}

	<div class="row">
		<div class="col s12 m12">
			{{#each filteredResults as |teacher|}}
				<p>{{teacher.name}}</p>
			{{/each}}
		</div>
	</div>

{{/list-filter}}