{{!-- 
  <div class="row">
    <form class="col s12" {{action 'login' on="submit"}} >
      <div class="row">
        <div class="input-field col sm5">
          {{input id="email" type="email" class="validate" value=email}}
          <label for="email">Correo</label>
        </div>
      <div class="row">
        <div class="input-field col sm5">
          {{input id="password" type="password" class="validate" value=pswd}}
          <label for="password">Password</label>
        </div>
      </div>
      
      </div>
      <button>Entrar</button>
    </form>
  </div> --}}
        {{!-- 
 <div class="row">
    <form class="col s12" {{action 'login' on="submit"}}>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          {{input type="text" value=username class="validate" id="icon_prefix"}}
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">lock</i>
          {{input type="password" value=password class="validate" id="icon_pass"}}
          <label for="icon_telephone">Password</label>
        </div>
        <div class="row">
          <button class="waves-effect waves-light btn red">
            <i class="material-icons left">send</i>Login
          </button>
        </div>
      </div>
    </form>
  </div>
        --}}


<style>
  body {
   background-image: url("https://previews.123rf.com/images/yustus/yustus1508/yustus150800060/43946412-edificio-de-la-escuela-cl%C3%A1sica-y-autob%C3%BAs-escolar-aislado-en-fondo-blanco.jpg");
}
.tra{
  opacity: .95;
}
.ex{
    border: 2px;
    border-radius: 25px;
}
button{
 margin-bottom: 5%;
}
.ini{
  height: 120px;
}
</style>
<form id="login" class="container" {{action 'login' this on="submit"}}>
    <div class="container z-depth-5 center-align white tra ex hoverable">
      <h1>Iniciar sesión</h1>
      <div class="row">
        <div class="input-field col s12">

          {{input type="email" id="loginuser" value=email class="validate" }}
          <label for="loginuser" class={{if pswd "active" ""}}>Usuario</label>
          
        </div>
        <div class="input-field col s12">
    
          {{input type="password" id="loginpass" value=pswd class="validate"}}
          <label id="userlabel" for="loginpass" class={{if pswd "active" ""}}>Password</label>
         
        </div>
       
      </div>
      <button type="submit" class="waves-effect  btn red" style="width:150px">Entrar</button>
    </div>
</form>